<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script type="text/javascript" src="/javascripts/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <%-stylesheets%>
  </head>
  <body>

    <header>

<%-body -%>

  </body>
</html>