<% layout('layout') -%>

<script src="javascripts/utils.js"></script>
<script src="javascripts/dat.gui.min.js"></script>
<script src="javascripts/crystalgen.js"></script>
<script type="text/javascript" src="/javascripts/Tween.js"></script>
<script type="text/javascript" src="/javascripts/three.min.js"></script>
<script type="text/javascript" src="/javascripts/CrystalGeometry.js"></script>
<script src="javascripts/CrystalMenu.js"></script>
<script src="javascripts/menu.js"></script>
<script type="text/javascript">

	var menu;
	var gui;

	$(document).on( 'ready', function() {

		$(document).on( 'touchmove', function( e ) {
			e.preventDefault();
		});

		// menu.init( effectInfo2D.concat( effectInfo2D, effectInfo2D ) );
		// menu.init( effectInfo3D.concat( effectInfo3D, effectInfo3D ) );

		// gui = new dat.GUI({
		// 	width: 300,
		// 	height: 600
		// });
		menu = new Menu({useCrystalMenu:true, boxTouchCallback: boxTouchCallback});
		// menu.init( effectInfo2D.concat( effectInfo2D ) );
		menu.init( effectInfo2D );
		// menu.open();

		function boxTouchCallback( menuBox ) {
			menu.close();

			setTimeout( function(){
				menu.open();
			}, 1000 );
		}

		$(document).on( 'keydown', function(e) {
			var key = String.fromCharCode( e.keyCode );
			// console.log( key );
			if ( key == '2' ) {
				console.log( 'initializing 2D menu' );
				menu.kill();
				menu = new Menu( );
				menu.init( effectInfo2D );
			}
			else if ( key == '3' ) {
				console.log( 'initializing 3D menu' );
				menu.kill();
				menu = new Menu();
				menu.init( effectInfo3D );
			}
			else if ( key == 'C' ) {
				// menu.clear();
				menu.close();
			}
			else if ( key == 'O' ) {
				menu.open();
			}
			else if ( key == 'X' ) {
				menu.close( true );
			}
		});
	});
</script>


<div id="menu-bg">
	<div id="menu-title"></div>
	<div id="menu">
	</div>
</div>

<div id="clonable-menu-box" class="menu-box" style="visibility:hidden">
	<img src="">
	<div class="menu-box-title" style="visibility:hidden">TITLE</div>
</div>

<div id="clonable-menu-item" class="menu-item-wrapper">
	<div class="menu-item" style="visibility:hidden;">
		<img src="">
		<div class="menu-item-title"></div>
		<div class="menu-item-debug"></div>
	</div>
</div>