<% layout('layout') -%>

<script src="javascripts/utils.js"></script>
<script src="javascripts/menu.js"></script>


<div id="menu-bg">
	<div id="menu">

		<div id="menu-button"></div>
	</div>
</div>

<div id="clonable-menu-item" class="menu-item-wrapper">
	<div class="menu-item" style="visibility:hidden;">
		<img src="">
		<div class="menu-item-title"></div>
		<div class="menu-item-debug"></div>
	</div>
</div>