<% layout('layout') -%>

<script src="javascripts/remote.js"></script>

<div class="iphone">

</div>

<div id="settingsPanel" class="panel panel-default" style="display:none;">
  <div class="panel-heading">
    <div class="panel-title">REMOTE SETTINGS</div>
  </div>
  <div class="panel-body">
  	<div class="btn-group btn-group-lg">
  		<button type="button" class="btn btn-default remoteNumButton">1</button>
  		<button type="button" class="btn btn-default remoteNumButton">2</button>
  		<button type="button" class="btn btn-default remoteNumButton">3</button>
  		<button type="button" class="btn btn-default remoteNumButton">4</button>
  	</div>

  </div>
</div>