body {
  overflow: hidden;
  font: 14px Helvetica, Arial, sans-serif;
  background: black;
}

a {
  color: #00B7FF;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select:none;
}

canvas {
	position: absolute;
}

#welcome {
	visibility: hidden;
	position: absolute;
	z-index: 100;
	font-size: 75px;
	margin: 50px 30px;
	line-height: 70px;
	font-weight: bolder;
	color: white;
}

#cave {
	position: absolute;
	pointer-events: none;
	z-index: -1000;
	visibility: hidden;
}

.crystalCanvas {
	position: absolute;
}

#canvas {
	/*-webkit-filter: brightness(0%);*/
}

#fingercanvas {
	visibility: hidden;
}

#cave img {
	width: 1024px;
	position: relative;
	bottom: -297px;
	-webkit-filter: brightness(50%); 
}

#settingsPanel {
	position: absolute;
	z-index: 10;
}

#menu-bg {
	position: absolute;
	/*background: red;*/
	width: 1024px;
	height: 768px;
}

#menu-overlay {
	position: absolute;
	background: rgba( 255, 0, 0, .25 );
	width: 1024px;
	height: 768px;
	z-index: 10000;
}

#menu {
	position: absolute;
	left: -100px;
	-webkit-transform-style: preserve-3d;
}

#menu-button {
	width: 400px;
	height: 400px;
	background: black;
	border-radius: 200px;
	border: 3px solid white;
	left: -200px;
	top: -200px;
	-webkit-transform: translate3d( 0px, 0px, 1000px );
	position: absolute;
}

.menu-item img {
	border: 3px solid white;
	border-radius: 30px;
	position: absolute;
	right: 10px;
	top: 23px;
	width: 126px;
	height: 126px;
}

.menu-item-title {
	font-size: 40px;
	vertical-align: middle;
	text-transform: uppercase;
	position: absolute;
	right: 140px;
	top: 10px;
}

.menu-item-debug {
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	right: 140px;

}

#countdown {
	color: white;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
	font-size: 40px;
	font-weight: bold;
	padding-right: 20px;
	width: 400px;
}

.blink {
	-webkit-animation: blink 1s step-end infinite;
	/*-webkit-animation-play-state: paused;*/
}

@-webkit-keyframes blink {
	0% {visibility: visible;}
	50% {visibility: hidden;}
}

.countdownTimer {
	font-size: 200px;
	font-weight: bold;
	line-height: 170px;
	/*position: absolute;
	right: 0px;*/
}

.menu-item {
	color: white;
	font-size: 120px;
	padding-right: 10px;
	text-align: right;
	position: absolute;
	border-radius: 30px;
	background: black;
	border: 3px solid white;
	z-index: 0;
	-webkit-transform: rotate( 0deg );
	-webkit-transform-origin: 0% 50%;
	overflow: hidden;
}

.finger {
	width: 64px;
	height: 64px;
	position: absolute;
	z-index: -10;
	display: none;
	pointer-events: none;
}

.remoteBox {
	border-radius: 4px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px;
}

.remoteBox .label {
	vertical-align: super;
}

.remoteNumber {
	font-weight: bold;
	font-size: 24px;
}

.remoteBox:last-child{
	margin-bottom: 0px;
}

.container {
	background-color: blue;
	position: absolute;
	top: 0px;
	left: -40px;
	width: 100%;
	height: 100%;
	perspective: 1000px;
	//overflow: hidden;
	//-webkit-transform: translateY( 300px );
}

.iphone {
	width: 568px;
	height: 320px;
	position: absolute;
	z-index: -1;
}