
/*
@font-face {
	font-family: UnitedSans;
	font-weight: normal;
	src: url( '/fonts/united/UnitedSansRg.otf' ) format('opentype');
}*/

@font-face {
	font-family: UnitedSans;
	font-weight: lighter;
	src: url( '/fonts/united/UnitedSansRgLt.otf' ) format('opentype');
}


body {
  overflow: hidden;
  font: 14px UnitedSans, Helvetica, Arial, sans-serif;
  background: black;
  margin: 0px;
}

a {
  color: #00B7FF;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select:none;
}

canvas {
	position: absolute;
}

#scroll-wrapper {
	position: absolute;
	right: 280px;
	overflow: hidden;
	width: 300px;
	height: 100%;
	pointer-events: none;	
}

#menu-box-scroller {
	/*position: absolute;*/
	/*background: rgba(255,0,0,.5);*/
	width: 400px;
	height: 100%;
	/*right: 200px;*/
	overflow: auto;
	pointer-events: none;
}

.fake-box {
	background: yellow;
	width: 100px;
	height: 100px;
	/*margin-bottom: 100px;*/
	pointer-events: auto;
	font-size: 100px;
}

.fake-box canvas {
	position: relative;
	top: 126px;
	/*display: none;*/
}

.fake-box img {
	/*position: relative;*/
	width: 188px;
	height: 188px;
	margin: 30px;
	border: 1px solid white;
	pointer-events: none;
	/*left: 30px;
	top: 30px;*/
}

#debug {
	color: white;
	position: absolute;
	font-size: 32px;
	z-index: 10000
}

#welcome {
}

#effect-instruction {
	display: none;
	position: absolute;
	font-size: 32px;
	color: white;
	left: 20px;
	top: 600px;
}

.full-screen-text {
	display: none;
	position: absolute;
	z-index: 100;
	font-size: 64px;
	line-height: 70px;
	font-weight: bolder;
	color: white;
	width: 100%;
	height: 100%;
}

.full-screen-text img {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-filter: brightness(30%);
}

.full-screen-text .content {
	padding: 50px 30px;
	position: absolute;
}

#cave {
	position: absolute;
	pointer-events: none;
	z-index: -1000;
	visibility: hidden;
}

.crystalCanvas {
	position: absolute;
}

#canvas {
	/*-webkit-filter: brightness(0%);*/
}

#fingercanvas {
	visibility: hidden;
}

#wirecanvas {
	visibility: hidden;
}

.canvasImage {
	width: 1024px;
	display: none;
}

#cave img {
	/*position: relative;
	bottom: -297px;
	-webkit-filter: brightness(50%); */
}

#settingsPanel {
	position: absolute;
	z-index: 10;
}

#menu-bg {
	position: absolute;
	/*background: red;*/
	width: 1024px;
	height: 768px;
}

#menu-bg-img {
	pointer-events: none;
	position: absolute;
	display: none;
	-webkit-filter: brightness(30%);
}

#menu-overlay {
	position: absolute;
	background: rgba( 255, 0, 0, .25 );
	width: 1024px;
	height: 768px;
	z-index: 10000;
}

#menu {
	position: absolute;
	left: -150px;
	-webkit-transform-style: preserve-3d;
}

#menu-title {
	position: absolute;
	right: 0px;
	color: white;
	font-size: 40px;
	vertical-align: middle;
	line-height: 100px;
	margin-top: -50px;
	text-transform: uppercase;
	margin-right: 30px;
}

#menu-button {
	width: 400px;
	height: 400px;
	background: black;
	border-radius: 200px;
	border: 3px solid white;
	left: -200px;
	top: -200px;
	-webkit-transform: translate3d( 0px, 0px, 1000px );
	position: absolute;
}

.menu-box {
	/*border: 3px solid white;*/
	position: absolute;
	z-index: -1000;
	/*background: red;*/
	/*width: 100px;*/
	/*height: 100px;*/
}

.menu-box img {
	position: inherit;
	z-index: -100;
}

.menu-box canvas {
	position: inherit;
}

.menu-box-title {
	font-size: 32px;
	color: white;
	position: absolute;
	top: 250px;
	width: 250px;
	text-align: center;
	text-transform: uppercase;
}

.menu-item img {
	border: 3px solid white;
	border-radius: 30px;
	position: absolute;
	right: 10px;
	top: 23px;
	width: 126px;
	height: 126px;
}

.menu-item-title {
	font-size: 40px;
	vertical-align: middle;
	text-transform: uppercase;
	position: absolute;
	right: 140px;
	top: 10px;
}

.menu-item-debug {
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	right: 140px;

}

#countdown {
	color: white;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
	font-size: 24px;
	font-weight: bold;
	padding-right: 20px;
	width: 400px;
}

#big-countdown {
	display: none;
	color: white;
	font-size: 500px;
	font-weight: bold;
	position: absolute;
	width: 100%;
	height: 768px;
	line-height: 768px;
	text-align: center;
}

.blink {
	-webkit-animation: blink 1s step-end infinite;
	/*-webkit-animation-play-state: paused;*/
}

@-webkit-keyframes blink {
	0% {visibility: visible;}
	50% {visibility: hidden;}
}

.countdownTimer {
	font-size: 120px;
	font-weight: bold;
	line-height: 120px;
	/*position: absolute;
	right: 0px;*/
}

.menu-item {
	color: white;
	font-size: 120px;
	padding-right: 10px;
	text-align: right;
	position: absolute;
	border-radius: 30px;
	background: black;
	border: 3px solid white;
	z-index: 0;
	-webkit-transform: rotate( 0deg );
	-webkit-transform-origin: 0% 50%;
	overflow: hidden;
}

.finger {
	width: 64px;
	height: 64px;
	position: absolute;
	z-index: -10;
	display: none;
	pointer-events: none;
}

.remoteBox {
	border-radius: 4px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px;
}

.remoteBox .label {
	vertical-align: super;
}

.remoteNumber {
	font-weight: bold;
	font-size: 24px;
}

.remoteBox:last-child{
	margin-bottom: 0px;
}

.container {
	background-color: blue;
	position: absolute;
	top: 0px;
	left: -40px;
	width: 100%;
	height: 100%;
	perspective: 1000px;
}

.iphone {
	width: 568px;
	height: 320px;
	position: absolute;
	z-index: -1;
}